.marker-cluster {
    border: 1px solid #666;
}

.marker-cluster-small {
    background-color: rgba(239, 237, 245, 0.7);
}

.marker-cluster-small div {
    background-color: rgba(239, 237, 245, 0.8);
}

.marker-cluster-medium {
    background-color: rgba(188, 189, 220, 0.7);
}

.marker-cluster-medium div {
    background-color: rgba(188, 189, 220, 0.8);
}

.marker-cluster-large {
    background-color: rgba(117, 107, 177, 0.7);
}

.marker-cluster-large div {
    background-color: rgba(117, 107, 177, 0.8);
    color: #fff;
}
