<!DOCTYPE html>
<html>
	<head>
        <title>{% block super_title %}H₂O Really? | {% block title %}{% endblock %}{% endblock %}</title>
        <meta charset='utf-8'> 
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- Bootstrap -->
        <link href="{{ STATIC_URL }}bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen">
        <style type="text/css">
          body {
            padding-top: 60px;
            padding-bottom: 40px;
          }
          .sidebar-nav {
            padding: 9px 0;
          }

          @media (max-width: 980px) {
            /* Enable use of floated navbar text */
            .navbar-text.pull-right {
              float: none;
              padding-left: 5px;
              padding-right: 5px;
            }
          }
        </style>
        <script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>

        {% block extra_head %}{% endblock %}
	</head>
	<body>

    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container-fluid">
          <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="brand" href="#">{{ site }}</a>
          <div class="nav-collapse collapse">
            <p class="navbar-text pull-right">
              {% if request.user.is_authenticated %}
              Logged in as <a href="#" class="navbar-link">{{ request.user }}</a>
              {% else %}
              <a href="#">Log in</a> | <a href="#">Sign up</a>
              {% endif %}
            </p>
            {% with request.resolver_match.url_name as name %}
            <ul class="nav">
              <li{% if name == "home" %} class="active"{% endif %}>
                  <a href="{% url 'home' %}">Home</a></li>
              <li{% if name == "observations-add" %} class="active"{% endif %}>
                  <a href="{% url "observations-add" %}">Add measurements</a></li>
              <li{% if name == "sample-kits" %} class="active"{% endif %}>
              <a href="{% url "sample-kits" %}">Get testing kits</a></li>
              {% if request.user.is_staff %}
              <li><a href="{% url 'admin:index' %}">Admin</a></li>
              {% endif %}
            </ul>
            {% endwith %}
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>

    <div class="container-fluid">
      <div class="row-fluid">
        <div class="span3">
          <div class="well sidebar-nav">
            {% with request.resolver_match.url_name as name %}
            <ul class="nav nav-list">
              <li{% if name == "home" %} class="active"{% endif %}>
              <a href="{% url 'home' %}">Home</a></li>
              <li class="nav-header">Contribute</li>
              <li{% if name == "observations-add" %} class="active"{% endif %}>
              <a href="{% url "observations-add" %}">Add measurements</a></li>
              <li{% if name == "contribute-technical" %} class="active"{% endif %}>
              <a href="{% url 'contribute-technical' %}">
                  Coding, Design &amp; GIS</a></li>
              <li class="nav-header">Use data</li>
              <li{% if name == "observations-map" %} class="active"{% endif %}>
                  <a href="{% url 'observations-map' %}">Map</a></li>
              <li{% if name == "report" %} class="active"{% endif %}>
                <a href="#">Report</a></li>
              <li class="nav-header">Meta</li>
              <li{% if name == "about" %} class="active"{% endif %}>
                <a href="#">About</a></li>
              <li{% if name == "supplements-sources" %} class="active"{% endif %}>
              <a href="{% url 'supplements-sources' %}">
                  Data sources, attributions</a></li>
              <li{% if name == "how-to" %} class="active"{% endif %}>
                <a href="#">How-to</a></li>
              <li{% if name == "sample-kits" %} class="active"{% endif %}>
              <a href="{% url "sample-kits" %}">Testing kits</a></li>
            </ul>
{% endwith %}
          </div><!--/.well -->
        </div><!--/span-->
        <div class="span9">
          {% block hero %}
          <div class="hero-unit">
            <h1>{% block header %}{% endblock %}</h1>
          </div>
          {% endblock hero %}
          <div class="row-fluid">
          {% block content %}
          {% endblock %}
          </div><!--/row-->
        </div><!--/span-->
      </div><!--/row-->

      <hr>

      <footer>
        <div class="container-fluid">
          <div class="row-fluid">
              <div class="span4">
                <ul>
                    <li>OpenWater 2013</li>
                    <li><a href="http://github.com/stringfellow/openwater/">
                        View on GitHub</a></li>
                </ul>
            </div>
            <div class="span4">
                <ul>
                    <li><a href="http://twitter.com/H2OReally/">
                        Follow on Twitter</a></li>
                </ul>
            </div>
            <div class="span4">
            </div>
          </div>
        </div>
      </footer>

    </div><!--/.fluid-container-->

    <script src="{{ STATIC_URL }}bootstrap/js/bootstrap.min.js"></script>
    <!-- Le javascript
    <script src="../assets/js/bootstrap-transition.js"></script>
    <script src="../assets/js/bootstrap-alert.js"></script>
    <script src="../assets/js/bootstrap-modal.js"></script>
    <script src="../assets/js/bootstrap-dropdown.js"></script>
    <script src="../assets/js/bootstrap-scrollspy.js"></script>
    <script src="../assets/js/bootstrap-tab.js"></script>
    <script src="../assets/js/bootstrap-tooltip.js"></script>
    <script src="../assets/js/bootstrap-popover.js"></script>
    <script src="../assets/js/bootstrap-button.js"></script>
    <script src="../assets/js/bootstrap-collapse.js"></script>
    <script src="../assets/js/bootstrap-carousel.js"></script>
    <script src="../assets/js/bootstrap-typeahead.js"></script>
    ================================================== -->
    {% block js %}{% endblock %}

  

</body>
