{% extends "base.html" %}
{% block title %}Map{% endblock %}

{% block extra_head %}
<style type="text/css">
  html { height: 100%; }
  body { height: 100%; }
  #map-canvas { height: 800px; width: 900px; }
</style>
<link rel="stylesheet" href="{{ STATIC_URL }}leaflet-0.6.4/leaflet.css" />
<link rel="stylesheet" href="{{ STATIC_URL }}leaflet-0.6.4/plugins/MarkerCluster.css" />
<link rel="stylesheet" href="{{ STATIC_URL }}leaflet-0.6.4/plugins/MarkerCluster.Default.css" />
<!--[if lte IE 8]>
    <link rel="stylesheet" href="{{ STATIC_URL }}leaflet-0.6.4/leaflet.ie.css" />
    <link rel="stylesheet" href="{{ STATIC_URL }}leaflet-0.6.4/plugins/MarkerCluster.Default.ie.css" />
<![endif]-->
<link rel="stylesheet" href="{{ STATIC_URL }}observations/css/map.css" />

<script type="text/javascript" src="{{ STATIC_URL }}leaflet-0.6.4/leaflet.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}leaflet-0.6.4/plugins/leaflet.markercluster.js"></script>
</script>
{% endblock %}
{% block header %}
    <h1>Map</h1>
    <h2></h2>
{% endblock %}
{% block content %}
    <div class="span12">
        <div id="map-canvas"></div>
    </div>
{% endblock %}
{% block js %}
<script type="text/javascript">
    var map = L.map('map-canvas').setView([55, -4], 6);
    var markers = new L.MarkerClusterGroup({
        disableClusteringAtZoom: 12
    });
    L.tileLayer(
        'http://{s}.tile.cloudmade.com/{{ API_KEY }}/997/256/{z}/{x}/{y}.png',
        {
            attribution: 'Map data &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors, <a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="http://cloudmade.com">CloudMade</a>',
            maxZoom: 18
        }
    ).addTo(map);

    $.getJSON('/api/v1/observations/measurements/?page_size=5000&from_date=2008-01-01', function(data) {
        var geoJsonLayer = L.geoJson(data.results, {
            style: function(feature) {
                return {};
            },
            onEachFeature: function(feature, layer) {
                //
            }
        });
        markers.addLayer(geoJsonLayer);
        map.addLayer(markers);
    });
</script>
{% endblock %}
