{% extends "base.html" %}
{% load static %}
{% block title %}Map{% endblock %}

{% block extra_head %}
<style type="text/css">
  html { height: 100%; }
  body { height: 100%; }
  #map-canvas { height: 600px; width: 100%; }
</style>
<link rel="stylesheet" href="{% static 'leaflet-0.6.4/leaflet.css' %}" />
<link rel="stylesheet" href="{% static 'leaflet-0.6.4/plugins/MarkerCluster.css' %}" />
<link rel="stylesheet" href="{% static 'leaflet-0.6.4/plugins/MarkerCluster.Default.css' %}" />
<!--[if lte IE 8]>
    <link rel="stylesheet" href="{% static 'leaflet-0.6.4/leaflet.ie.css' %}" />
    <link rel="stylesheet" href="{% static 'leaflet-0.6.4/plugins/MarkerCluster.Default.ie.css' %}" />
<![endif]-->
<link rel="stylesheet" href="{% static 'observations/css/map.css' %}" />

<script type="text/javascript" src="{% static 'leaflet-0.6.4/leaflet.js' %}"></script>
<script type="text/javascript" src="{% static 'leaflet-0.6.4/plugins/leaflet.markercluster.js' %}"></script>
{{ filter.form.media }}
{% endblock %}
{% block header %}
    <h1>Map & Download</h1>
{% endblock %}
{% block content %}
    <div class="span8">
        <div id="map-canvas"></div>
    </div>
    <div class="span4">
        <form id="map-filter">
            <p>
                <label for="postcode">Postcode:</label>
                <input type="text" id="id_postcode" name="postcode" placeholder="SW1A 1AA" />
            </p>
            <p>
                <label for="page_size">Maximum number of results:</label>
                <input type="text" id="id_page_size" name="page_size" value="5000" />
            </p>
            {{ filter.form.as_p }}
            <input type="submit" class="button btn btn-primary" id="updateBtn" value="Update" /> 
            <input type="button" class="button btn btn-info" id="downloadBtn" value="Download" />
            <input type="button" class="hide button btn btn-info" id="downloadCSV" value="CSV" />
            <input type="button" class="hide button btn btn-info" id="downloadSHP" value="SHP" />
        </form>
        <div class="well">
            <span id="meta" class="muted"></span>
        </div>
    </div>
{% endblock %}
{% block js %}
<script type="text/javascript">
    var API_MEASUREMENTS_URL = '{% url "observations_api_measurements" %}';
    var API_GEOCODE_POSTCODE_URL = '{% url "geocode_postcode" %}';
    var detailUrl = '{% url "observations-detail" pk="000" %}';

    function onEachFeature(feature, layer) {
        layer.on('click', function (e) {
            location = detailUrl.replace('000', feature.properties.id);
        });
    }

    $(document).ready(function() {
        var map = L.map('map-canvas').setView([55, -4], 6);
        var markers = new L.MarkerClusterGroup({
            disableClusteringAtZoom: 12
        });

        L.tileLayer(
            'http://{s}.tile.cloudmade.com/{{ API_KEY }}/997/256/{z}/{x}/{y}.png',
            {
                attribution: 'Map data &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors, <a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="http://cloudmade.com">CloudMade</a>',
                maxZoom: 18
            }
        ).addTo(map);
        
        var repositionMapOnPostcode = function() {
            var postcode = $("#id_postcode").val();
            $.getJSON(API_GEOCODE_POSTCODE_URL + "/" + postcode, function(data) {
                map.setView([data.lat, data.lon], 13);
            });
        };

        var updateMap = function() {
            $('#meta').html('Loading...');
            $('#updateBtn').attr('disabled', 'disabled');
            markers.clearLayers();
            repositionMapOnPostcode();
            $.getJSON(API_MEASUREMENTS_URL + '?' + $('#map-filter').serialize(), function(data) {
                var geoJsonLayer = L.geoJson(data.results, {
                    onEachFeature: onEachFeature
                });
                markers.addLayer(geoJsonLayer);
                map.addLayer(markers);

                var msg = data.count + ' observations';
                var observed = $('#id_observed').val();
                var from = $('#id_from_date').val();
                var to = $('#id_to_date').val();
                var limit = $('#id_page_size').val();

                if (observed) {
                    msg += ' of ' + observed;
                }

                if (from && to) {
                    if (from === to) {
                        msg += ' on ' + from;
                    } else {
                        msg += ' between ' + from + ' and ' + to;
                    }
                } else if (from) {
                    msg += ' since ' + from;
                } else if (to) {
                    msg += ' up to ' + to;
                }

                if (limit < data.count) {
                    msg += ' (showing the most recent ' + data.results.length + ')';
                }

                $('#meta').html(msg + '.');
                $('#updateBtn').removeAttr("disabled");
            });
        };

        $('#map-filter').submit(function(e) {
            e.preventDefault();
            updateMap();
        });

        updateMap();

        $('#downloadBtn').click(function() {
            $('#downloadBtn').hide();
            $('#downloadCSV').show();
            $('#downloadSHP').show();
        });
        $('#downloadCSV').click(
            function() {
                var data = $('#map-filter').serialize();
                location = "{% url "observations-download" %}?format=csv&" + data;
                $('#downloadCSV').hide();
                $('#downloadSHP').hide();
                $('#downloadBtn').show();
            }
        );
        $('#downloadSHP').click(
            function() {
                var data = $('#map-filter').serialize();
                location = "{% url "observations-download" %}?format=shp&" + data;
                $('#downloadCSV').hide();
                $('#downloadSHP').hide();
                $('#downloadBtn').show();
            }
        );
    });

</script>
{% endblock %}
