{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load leaflet_tags %}
{% block title %}Contributing | Add your observations{% endblock %}
{% block extra_head %}
    {{ form.media }}
    {% leaflet_js plugins="forms" %}
    {% leaflet_css plugins="forms" %}
    <!--
    <style>
        {# hack to remove extra buttons #}
        a.leaflet-draw-draw-polygon, a.leaflet-draw-draw-polyline, a.leaflet-draw-draw-rectangle {
            display: none;
        }
    </style>
    -->
{% endblock %}
{% block header %}
    <h1>Add your own observations!</h1>
    <h2>Water, water, everywhere&hellip;</h2>
{% endblock %}
{% block content %} 
<div class="span12">
    <p>
        Want to add your own water quality measurements and observations? If
        you already know what you're doing, great! Fill out the form below.
        Otherwise, take a look at <a href="{% url "sample-kits" %}">the sample
            kits</a> which have some advice on where to get kits and how to get
        started.
    </p>
    {% crispy form %}
</div>
{% endblock %}

{% block js %}
<script type="text/javascript">
    $(window).on('map:init', function (e) {
        window.map = e.map;
        $('#id_location_reference').bind('keyup', function(){
            var val = $(this).val();
            if (val.length < 3) return;
            var url = "http://beta.geocoding.cloudmade.com/v3/{{ API_KEY }}/api/geo.location.search.2";
            var bbox = map.getBounds().toBBoxString().split(',');
            bbox = bbox[0] + ',' + bbox[1] + ';' + bbox[2] + ',' + bbox[3];
            var data = {
                format: 'json',
                source: 'OSM',
                enc: 'UTF-8',
                limit: 10,
                locale: 'en',
                q: val,
                bbox: bbox
            };
//            $.ajax(url, {
//                data: data,
//                dataType: 'jsonp',
//                success: function(data) {
//                    // TODO: Do something? API is pretty crap though. :(
//                }
//            });
        });
        map.locate({setView: true, maxZoom: 12});;
    });

    function addObsRow() {
        // Add another observation row
        var nextrow = $('#add-another-btn').data('nextrow');
        $.get(
            "{% url "observations-add-param" %}?nextrow=" + nextrow,
            function(html) {
                $('#add-another-btn').data('nextrow', nextrow + 1);
                $('#param-rows').append(html);
            }
        );
    }
</script>
{% endblock js %}
