<h3>
    {% if object.location_reference %}{{ object.location_reference }},{% endif %}
    {{ object.reference_timestamp|default:object.created_timestamp }}
</h3>
{% if object.source %}
<h4>From: <a href="{{ object.source.url }}">{{ object.source }}</a></h4>
{% endif %}
<table id="added-test-values" class="table table-striped table-bordered">
    <thead>
        <tr>
            <th>Parameter</th>
            <th>Value</th>
            <th>Unit</th>
            <th>Test</th>
        </tr>
    </thead>
    <tbody>
        {% for testvalue in object.testvalue_set.all %}
            <tr>
                <td>{{ testvalue.test.parameter.name }}</td>
                <td>{{ testvalue.value }}</td>
                <td>{{ testvalue.test.unit }}</td>
                <td>{{ testvalue.test }}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>
